<script>
    $('#addComment').on('click', function(){
    $('#formComment').css("display","block");
    $('#addComment').hide();
    });
</script>
<div id="fade" class="black_overlay" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"></div>
<div class="white_content" id="light" style="border-radius:7px;backgourn-color:gray;">
    <div style="text-align: center;padding-bottom: 25px;">
        <div class="formComment" id="formComment" style="display: none;">
            {{ form_start(formAvis) }}
            {{ form_widget(formAvis) }}
            <input type="hidden" name="avis[placeId]" value="{{ placeId }}">
            <br>
            <input class="btnForm" type="submit" id="Ajoutez" value="Envoyer">
            {{ form_end(formAvis) }}
        </div>
        <br>
        <input class="btnForm" type="button" style="text-align: center" id="addComment" value="Ajoutez un avis"/>
    </div>
    {% for avi in avis %}
        <hr style="    width: 60%;margin: auto;">
        <div style="padding: 15px; ">
            <div style="width: 20%; display: inline-block;">
                <img src="http://www.arabnewtech.com/wp-content/uploads/avatar-1.png" style="width: 80%;border-radius:50px;">

            </div>
            <div style="width: 75%;display: inline-block;vertical-align:top;padding-left: 10px;">
            <div>
                {% for i in 1..5 %}
                    {% if i <= avi.note %}
                        <a style="color: #FFD900; text-decoration: none;font-size: 2em;">☆</a>
                    {% else %}
                        <a style="color: gray; text-decoration: none;font-size: 2em;">☆</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div style="padding-top: 15px;">
                <h4 style="font-family: 'Trebuchet MS';font-size:1.1em">Posté par John Doe le {{ avi.date | date('d F Y') }}</h4>
                <br/>
                <p style="font-size: 14px;color:gray;font-family: 'Verdana';font-size: 0.9em;">
                    {{ avi.description }}
                </p>
            <h5 style="font-family: 'Trebuchet MS'"></h5>
            </div>
            <div style="padding-top: 15px;">
            </div>
            </div>
        </div>

    {% endfor %}
</div>

